
#android
#ant build

platforms/android/CordovaLib/ant-build/
platforms/android/ant-build/

#ios
#ios log
platforms/ios/cordova/console.log

xcuserdata

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata

